.h2o-first-section{
    position: relative;
    padding-bottom: clamp(16px, 1.6667vw, 24px);
    
    &__box{
        display: grid;
        grid-template-columns:1fr 285px;
        grid-gap: clamp(16px, 1.8705vw, 26px) 16px;
        position: relative;
        align-items: end;

        @include laptop{
            grid-template-columns: 1fr;

            .h2o-players-block{
                display: none;
            }
        }
    }
}