.h2o-about-section{
    padding-bottom:clamp(20px, 3.3333vw, 48px);
    border-top: 1px solid var(--br-f);
 
    overflow: hidden;

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 16px;
    }

    &__inner{
        display: flex;
        grid-gap: 8px;
        flex-direction: column;

        &--mode{
            grid-gap: 16px;

            .h2o-main-box{
                grid-gap: 8px;
            }
        }
    }

    

    &__image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}