<footer>
  <div class="h2o-container">
    <div class="h2o-footer">
      <a href="index.html" class="h2o-logo">
        <i class="h2o-icon-logo"></i>
      </a>

      <div class="h2o-footer__top">
     
        <ul class="h2o-social-list">
          <li class="h2o-social-list__item">
            <a href="#" class="h2o-social-list__link h2o-icon-tg"></a>
          </li>
          <li class="h2o-social-list__item">
            <a href="#" class="h2o-social-list__link h2o-icon-youtube"></a>
          </li>
          <li class="h2o-social-list__item">
            <a href="#" class="h2o-social-list__link h2o-icon-vk"></a>
          </li>
          <li class="h2o-social-list__item">
            <a href="#" class="h2o-social-list__link h2o-icon-inst"></a>
          </li>
        </ul>

        <ul class="h2o-footer-company">
          <li class="h2o-footer-company__item">
            <span class="h2o-footer-company__icon h2o-icon-uefa">
            </span>
          </li>
          <li class="h2o-footer-company__item">
            <span class="h2o-footer-company__icon h2o-icon-ufc">
            </span>
          </li>
          <li class="h2o-footer-company__item">
            <span class="h2o-footer-company__icon h2o-icon-wta">
            </span>
          </li>
          <li class="h2o-footer-company__item">
            <span class="h2o-footer-company__icon h2o-icon-fiba">
            </span>
          </li>
          <li class="h2o-footer-company__item">
            <span class="h2o-footer-company__icon h2o-icon-nhl">
            </span>
          </li>
          <li class="h2o-footer-company__item">
            <span class="h2o-footer-company__icon h2o-icon-atp">
            </span>
          </li>
          <li class="h2o-footer-company__item">
            <span class="h2o-footer-company__icon h2o-icon-itf">
            </span>
          </li>
          <li class="h2o-footer-company__item">
            <span class="h2o-footer-company__icon h2o-icon-fifa">
            </span>
          </li>
        </ul>
        
        <div class="h2o-footer__btns">
          <button class="h2o-lang-button">RU</i></button>
          <button class="h2o-mobile-button"><i class="h2o-icon-mob"></i></button>
          <button class="h2o-download-button"><i class="h2o-icon-download"></i></button>
        </div>
      </div>

      <ul class="h2o-footer-info">
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-visa">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-master">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-gpay">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-pay">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-btc">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-qiwi">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-eth">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-tether">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-skrill">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-payeer">
          </a>
        </li> 

        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-flower">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-fk">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-webmoney">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-much">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-scb">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-discover">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-mono">
          </a>
        </li> 
        <li class="h2o-footer-info__item">
          <a href="#" class="h2o-footer-info__icon h2o-icon-astro">
          </a>
        </li>       
      </ul>

    
        <div class="h2o-footer__inner">
        <span class="h2o-footer__copyright">© 2023 1WIN.</span>

          <ul class="h2o-footer-info">
            <li class="h2o-footer-info__item">
              <a href="#" class="h2o-footer-info__icon h2o-icon-bookmaker">
              </a>
            </li>
            <li class="h2o-footer-info__item">
              <a href="#" class="h2o-footer-info__icon h2o-icon-betraja">
              </a>
            </li>
            <li class="h2o-footer-info__item">
              <a href="#" class="h2o-footer-info__icon h2o-icon-mentor">
              </a>
            </li>
            <li class="h2o-footer-info__item">
              <a href="#" class="h2o-footer-info__icon h2o-icon-best">
              </a>
            </li>
            <li class="h2o-footer-info__item">
              <a href="#" class="h2o-footer-info__icon h2o-icon-analyzer">
              </a>
            </li>
            <li class="h2o-footer-info__item">
              <a href="#" class="h2o-footer-info__icon h2o-icon-cricket">
              </a>
            </li>
            <li class="h2o-footer-info__item">
              <a href="#" class="h2o-footer-info__icon h2o-icon-betting">
              </a>
            </li>     
            <li class="h2o-footer-info__item">
              <span class="h2o-footer-info__icon">18+
              </span>
            </li>       
          </ul>
        </div>
   
    </div>
  </div>
</footer>