<header class="h2o-header">
  <div class="h2o-container">   
      <div class="h2o-header__box">
        <button class="h2o-burger">
          <span class="h2o-burger__line"></span>
        </button>
        <a href="index.html" class="h2o-logo">
          <i class="h2o-icon-logo"></i>
        </a>
  
        <ul class="h2o-header-nav">
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-slot"></i>СЛОТЫ</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-woman"></i>LIVE CASINO</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-tournament"></i>ТУРНИРЫ</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-bonus"></i>БОНУСЫ</a>
          </li>
        </ul>
       
        <div class="h2o-header__btns">
          <button class="h2o-api h2o-yellow-button">Вход</button>
          
          <button class="h2o-api h2o-green-button">Регистрация</button>
        </div>
      </div>

    <div class="h2o-mobile-menu">
      <div class="h2o-mobile-menu__box">
        <ul class="h2o-header-nav">
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-slot"></i>СЛОТЫ</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-woman"></i>LIVE CASINO</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-tournament"></i>ТУРНИРЫ</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-bonus"></i>БОНУСЫ</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>