<header class="h2o-header">
  <div class="h2o-container">
    <div class="h2o-header__box">
      <button class="h2o-burger">
        <span class="h2o-burger__line"></span>
      </button>


      <a href="index.html" class="h2o-logo">
        <i class="h2o-icon-logo"></i>
      </a>

      <ul class="h2o-header-nav">
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link">Главная</a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link">Live</a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link">Линия</a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link">Казино</a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link">Live-games</a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link">Линия</a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-lucky"></i></a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-speed"></i></a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-aviator"></i></a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-jet"></i></a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link">Быстрые игры</a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link">Poker</a>
        </li>
        <li class="h2o-header-nav__item">
          <a href="#" class="h2o-header-nav__link">Vsport</a>
        </li>

      </ul>
     



      <div class="h2o-header__btns">
        <button class="h2o-login h2o-main-button">Вход</button>
        
        <button class="h2o-login h2o-green-button"><i class="h2o-icon-login"></i>Регистрация</button>
      </div>
    </div>

    <div class="h2o-mobile-menu">
      <div class="h2o-mobile-menu__box">
        <ul class="h2o-header-nav">
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">Главная</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">Live</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">Линия</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">Казино</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">Live-games</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">Линия</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-lucky"></i></a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-speed"></i></a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-aviator"></i></a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link"><i class="h2o-icon-jet"></i></a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">Быстрые игры</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">Poker</a>
          </li>
          <li class="h2o-header-nav__item">
            <a href="#" class="h2o-header-nav__link">Vsport</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>