.h2o-accordion{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--br-a);
    width: 100%;

    &__button{
        width: 100%;
        padding: 12px;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all .4s;
       
        border-bottom: 1px dotted var(--br-g);
        &.active{
            border-bottom: none;
            background: rgba(var(--bg-e),1.0);
            .h2o-accordion__icon{
             &:after{
                transform: rotateZ(90deg);
             }
             &:before,&::after{
                background: #000;
             }
            }

            .h2o-accordion__title{
                color:  rgba(var(--cl-b),1.0);
            }
        }
    }

    &__icon{
        transition: all .4s;
    }

    &__content{
     width: 100%;   
    }

    &__box{
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 15px;
        padding: 24px 24px 24px 12px;
        border-bottom: 1px solid var(--br-a);
    }

    &__title{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
        transition: all .4s;
    }

    p{
        font-family: var(--font-family);
    }
}