.h2o-partners-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    grid-gap: 10px;
    &__item{
        width: clamp(100px, 10.7914vw, 150px);
        display: flex;
        align-items: center;
        justify-content: center;
        filter: grayscale(100%) opacity(0.5);
        transition: all .3s;
        
        &:hover{
            filter: initial;
        }
    }

    &__icon{
                     
            height: 56px;
    }
}