.h2o-footer-partners{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 10px;
    position: relative;
    max-width: 806px;
    width: 100%;
    justify-self: center;

    @include tablet{
        justify-content: center;
    }
}
