.h2o-play-card{
    width: 90vw;
    max-width: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(10px, 3.2823vw, 30px);
    padding: 15px 20px;
    border: 3px solid var(--br-b);

    &__btns{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(10px, 2.1882vw, 20px);
        width: 225px;
    }

    &__title{
        color: rgba(var(--cl-h), 1);
        font-family: var(--font-family2);
        font-weight: 800;
        font-size: clamp(20px, 2.8446vw, 26px);
        font-style: normal;
        line-height: 130%;
        text-transform: uppercase;
        -webkit-mask-image: linear-gradient(0deg,rgba(255,255,255,0) 10%,rgba(255,255,255,.133) 25%,rgba(255,255,255,.467) 40%,#fff 50%,rgba(255,255,255,.667) 60%,rgba(255,255,255,.467) 75%,rgba(255,255,255,0) 90%);
        color: rgba(var(--cl-c),1.0);
    }
   
    p{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: clamp(14px, 1.5534vw, 16px);
        line-height: 120%;
        width: 100%;
        text-align: center;
    }
}