.h2o-play-card{
    width: 90vw;
    max-width: 400px;
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(10px, 3.2823vw, 30px);
    padding: 15px 20px;
    border: 3px solid var(--br-h);

    &__btns{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(10px, 2.1882vw, 20px);
        width: 225px;
    }

    &__title{
        color: rgba(var(--cl-h), 1);
        font-family: var(--font-family2);
        font-weight: 800;
        font-size: clamp(20px, 2.8446vw, 26px);
        font-style: normal;
        line-height: 130%;
        text-transform: uppercase;
        background: linear-gradient(180deg, #FF8A00 52.08%, #A45800 100%);
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
    
    }
   
    p{
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        font-size: clamp(14px, 1.5534vw, 16px);
        line-height: 120%;
        width: 100%;
        text-align: center;
    }

    .h2o-green-button{
        font-size: clamp(14px, 1.5534vw, 16px);
    }
    
}