.h2o-header-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: clamp(16px, 1.7266vw, 24px);

    &__link{
        display: flex;
        align-items: center;
        grid-gap: 12px;
        text-align: center;
        font-family: var(--font-family);
        color: rgba(var(--cl-a),1.0);
        line-height: 100%;
        font-size: clamp(14px, 1.1511vw, 16px);

        i{
            filter: brightness(2);
        }

        &:hover{
           color:  rgba(var(--cl-d),1.0);

           i{
            filter: none;
           }
        }

     
    }
}