.h2o-tutorial-card{
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 100%;
    grid-gap: 10px;

    &__title{
        color: rgba(var(--cl-a),1.0);
        line-height: 120%;
        max-width: 160px;
        font-family: var(--font-family);
        text-align: center;
        min-height: 38px;
        display: flex;
        align-items: center;
    }

    &__icon{
        position: relative;
        flex-grow: 1;
        padding-bottom: clamp(15px, 2.1583vw, 30px);
    }

    &__amount{
        position: absolute;
        left: -25%;
        top: 60px;
        width: 41px;
        height: 41px;
        font-size: 20px;
        color: rgba(var(--cl-a),1.0);
        font-family: var(--font-family);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(var(--bg-i),1.0);
        animation: steps 1.2s ease-in-out infinite;
    }

    .h2o-yellow-button{
        max-width: 180px;
        height: 41px;
        
    }

    &--disabled{
        .h2o-tutorial-card__amount{
            background: rgba(var(--bg-j),1.0);
            animation: none;
        }
        .h2o-yellow-button{
            cursor: auto;
            background-color: rgba(var(--bg-g),1.0) !important;
        }
    }
}

@keyframes steps {
    0%{
        transform: scale(1);
    }

    25%{
        transform: scale(1.1);
    }
}