.h2o-main-bg{
  background-image: url(../img/index/bg.png);
  background-repeat: repeat;
  background-position: 50% 50%;

  position: fixed;
  z-index: -1;
  inset: 0;
}

.h2o-icon{
  
  &-logo{
    background-image: url(../img/sprite/logo.svg);
    width: 175px;
    height: 56px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;

    @include small-tablet{
      width: clamp(115px, 22.786vw, 175px);
    }
  }

  &-slot{
    background-image: url(../img/sprite/icon1.svg);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-cup{
    background-image: url(../img/index/icons.png);
    width: 26px;
    height: 26px;
    background-position: 0px -28px;
    background-repeat: no-repeat;
    display: block;
  }
  
  &-evoygg{
    background-image: url(../img/index/icons.png);
    background-position: -112px -120px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    display: block;
  }

  &-hack{
    background-image: url(../img/index/icons.png);
    background-position: 0px -148px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    display: block;
  }
  
  &-spino{
    background-image: url(../img/index/icons.png);
    background-position: -224px -204px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    display: block;
  }

  &-relaxgaming{
    background-image: url(../img/index/icons.png);
    background-position: -84px -204px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    display: block;
  }

  &-thunder{
    background-image: url(../img/index/icons.png);
    background-position: -259px -84px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    display: block;
  }

  &-provider{
    background-image: url(../img/sprite/icon9.svg);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-search{
    background-image: url(../img/sprite/search.svg);
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-vip{
    background-image: url(../img/sprite/vip.svg);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-vip{
    background-image: url(../img/sprite/vip.svg);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  
  &-crown{
    background-image: url(../img/sprite/crown.svg);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-timer{
    background-image: url(../img/sprite/timer.svg);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
  }

  &-case{
    background-image: url(../img/sprite/case.svg);
    width: 18px;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
  }

  &-cp{
    background-image: url(../img/sprite/cp.svg);
    width: 26px;
    height: 26px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
  }

  &-user{
    background-image: url(../img/sprite/user.svg);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-cupwhite{
    background-image: url(../img/sprite/cup2.svg);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-riobet{
    background-image: url(../img/sprite/riobet.svg);
    width: 66px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-cancel{
    background-image: url(../img/sprite/cancel.svg);
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  
  &-gold{
    background-image: url(../img/sprite/gold.svg);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  
  &-arrowgold{
    background-image: url(../img/sprite/arrowgold.svg);
    width: 48px;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }
  
  &-arrow{
    background-image: url(../img/sprite/arrow-b.svg);
    background-position: center  center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 22px;
    height: 12px;
    display: block;
  }

  &-woman{
    background-image: url(../img/sprite/icon6.svg);
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-tournament{
    background-image: url(../img/sprite/icon7.svg);
    width: 24px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-bonus{
    background-image: url(../img/sprite/icon8.svg);
    width: 17px;
    height: 22px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }

  &-clock{
    background-image: url(../img/sprite/icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 76px;
    height: 96px;
    display: block;
  }

  &-coin{
    background-image: url(../img/sprite/icon2.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 78px;
    height: 96px;
    display: block;
  }

  &-gift{
    background-image: url(../img/sprite/icon3.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85px;
    height: 96px;
    display: block;
  }

  &-slots{
    background-image: url(../img/sprite/icon4.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 95px;
    height: 96px;
    display: block;
  }

  &-money{
    background-image: url(../img/sprite/icon5.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 82px;
    height: 96px;
    display: block;
  }

  &-man{
    background-image: url(../img/sprite/man.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: 36px;
    display: block;
  }

  &-tour{
    background-image: url(../img/sprite/tour.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: block;
  }

  &-info{
    background-image: url(../img/sprite/info.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 27px;
    height: 27px;
    display: block;
    z-index: 6;
  }

  &-like{
    background-image: url(../img/sprite/like.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
    display: block;
    z-index: 6;
  }

  &-fav{
    background-image: url(../img/sprite/like2.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: block;
    z-index: 6;
  }

  &-evo{
    background-image: url(../img/sprite/evo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 179px;
    height: 35px;
    display: block;
    z-index: 6;
  }

  &-lucky{
    background-image: url(../img/sprite/lucky.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 104px;
    height: 58px;
    display: block;
    z-index: 6;
  }

  &-auth{
    background-image: url(../img/sprite/auth.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    height: 75px;
    display: block;
    z-index: 6;
  }

  &-ezugi{
    background-image: url(../img/sprite/ezugi.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 110px;
    height: 57px;
    display: block;
    z-index: 6;
  }

  &-pragmatic{
    background-image: url(../img/sprite/prag.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 158px;
    height: 73px;
    display: block;
    z-index: 6;
  }

  &-play{
    border-radius: 50%;
    width: 103px;
    height: 103px;
    display: block;
    background: rgba(var(--bg-c),1.0);
    position: relative;

    &::before{
      content: '';
      position: absolute;
      top: 25%;
      left: 30%;
      width: 50%;
      height: 50%;
      background-image: url(../img/sprite/play.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &-bag{
    background-image: url(../img/sprite/bag.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: 36px;
    display: block;
  }

  &-darts{
    background-image: url(../img/sprite/darts.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: 36px;
    display: block;
  }

  &-reward{
    background-image: url(../img/sprite/reward.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 36px;
    height: 36px;
    display: block;
  }

  &-micro{
    background-image: url(../img/sprite/micro.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 117px;
    height: 27px;
    display: block;
  }

  &-amatic{
    background-image: url(../img/sprite/amatic.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 117px;
    height: 34px;
    display: block;
  }

  &-netent{
    background-image: url(../img/sprite/netent.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 99px;
    height: 36px;
    display: block;
  }

  &-bet{
    background-image: url(../img/sprite/bet.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 91px;
    height: 30px;
    display: block;
  }

  &-evolution{
    background-image: url(../img/sprite/evo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 110px;
    height: 21px;
    display: block;
  }

  &-habanero{
    background-image: url(../img/sprite/habanero.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 126px;
    height: 25px;
    display: block;
  }

  &-isoft{
    background-image: url(../img/sprite/isoft.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 101px;
    height: 20px;
    display: block;
  }

  &-gameart{
    background-image: url(../img/sprite/gameart.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 130px;
    height: 20px;
    display: block;
  }

  &-evoplay{
    background-image: url(../img/sprite/evoplay.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 117px;
    height: 20px;
    display: block;
  }

  &-ygg{
    background-image: url(../img/sprite/ygg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 127px;
    height: 30px;
    display: block;
  }

  &-endorphin{
    background-image: url(../img/sprite/endorphin.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 71px;
    height: 32px;
    display: block;
  }

  &-ezug{
    background-image: url(../img/sprite/ezugi.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 67px;
    height: 35px;
    display: block;
  }

  &-playson{
    background-image: url(../img/sprite/playson.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 125px;
    height: 23px;
    display: block;
  }

  &-streak{
    background-image: url(../img/sprite/lucky.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 64px;
    height: 36px;
    display: block;
  }

  &-prag{
    background-image: url(../img/sprite/prag.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 96px;
    height: 45px;
    display: block;
  }

  &-quick{
    background-image: url(../img/sprite/quick.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 67px;
    height: 47px;
    display: block;
  }
  &-amusnet{
    background-image: url(../img/sprite/amusnet.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 96px;
    height: 20px;
    display: block;
  }
  &-tom{
    background-image: url(../img/sprite/tom.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 121px;
    height: 36px;
    display: block;
  }
  &-playngo{
    background-image: url(../img/sprite/playngo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 92px;
    height: 25px;
    display: block;
  }
  &-tiger{
    background-image: url(../img/sprite/tiger.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 79px;
    height: 39px;
    display: block;
  }
  &-apollo{
    background-image: url(../img/sprite/apollo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 122px;
    height: 32px;
    display: block;
  }
  &-agaming{
    background-image: url(../img/sprite/agaming.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 46px;
    display: block;
  }
  &-btg{
    background-image: url(../img/sprite/btg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 102px;
    height: 37px;
    display: block;
  }
  &-booming{
    background-image: url(../img/sprite/booming.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 94px;
    height: 31px;
    display: block;
  }
  &-oaks{
    background-image: url(../img/sprite/oaks.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 124px;
    height: 22px;
    display: block;
  }
  &-edict{
    background-image: url(../img/sprite/edict.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 96px;
    height: 28px;
    display: block;
  }
  &-elk{
    background-image: url(../img/sprite/elk.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 88px;
    height: 35px;
    display: block;
  }
  &-high{
    background-image: url(../img/sprite/highgames.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 115px;
    height: 23px;
    display: block;
  }
  &-nolimit{
    background-image: url(../img/sprite/nolimit.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 106px;
    height: 27px;
    display: block;
  }
  &-onegaming{
    background-image: url(../img/sprite/onex.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 88px;
    height: 32px;
    display: block;
  }
  &-patagonia{
    background-image: url(../img/sprite/patagonia.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 104px;
    height: 26px;
    display: block;
  }
  &-pg{
    background-image: url(../img/sprite/pg.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 95px;
    height: 26px;
    display: block;
  }
  &-platinus{
    background-image: url(../img/sprite/platipus.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 97px;
    height: 35px;
    display: block;
  }
  &-playtech{
    background-image: url(../img/sprite/playtech.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 108px;
    height: 24px;
    display: block;
  }
  &-push{
    background-image: url(../img/sprite/push.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 85px;
    height: 41px;
    display: block;
  }
  &-relax{
    background-image: url(../img/sprite/relax.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 99px;
    height: 30px;
    display: block;
  }
  &-spinomenal{
    background-image: url(../img/sprite/spinomena.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 122px;
    height: 30px;
    display: block;
  }
  &-stake{
    background-image: url(../img/sprite/stake.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 102px;
    height: 28px;
    display: block;
  }
  &-thunderkick{
    background-image: url(../img/sprite/thunderkick.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 125px;
    height: 31px;
    display: block;
  }
  &-casino{
    background-image: url(../img/sprite/casino.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 84px;
    height: 46px;
    display: block;
  }
  &-wazdan{
    background-image: url(../img/sprite/wazdan.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 75px;
    height: 32px;
    display: block;
  }
  &-mascot{
    background-image: url(../img/sprite/mascot.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 76px;
    height: 31px;
    display: block;
  }
  &-bf{
    background-image: url(../img/sprite/bf.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 57px;
    height: 41px;
    display: block;
  }
  &-belatra{
    background-image: url(../img/sprite/belatra.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 88px;
    height: 31px;
    display: block;
  }
  &-bgaming{
    background-image: url(../img/sprite/bgaming.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 125px;
    height: 21px;
    display: block;
  }
  &-genii{
    background-image: url(../img/sprite/genii.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90px;
    height: 36px;
    display: block;
  }
  &-fugaso{
    background-image: url(../img/sprite/fucaso.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 121px;
    height: 24px;
    display: block;
  }
  &-leander{
    background-image: url(../img/sprite/leander.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 108px;
    height: 34px;
    display: block;
  }
  &-pariplay{
    background-image: url(../img/sprite/pari.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 26px;
    display: block;
  }
  &-spade{
    background-image: url(../img/sprite/spade.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 48px;
    display: block;
  }
  &-real{
    background-image: url(../img/sprite/real.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 125px;
    height: 31px;
    display: block;
  }
  &-vivo{
    background-image: url(../img/sprite/vivo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 78px;
    height: 33px;
    display: block;
  }
  &-cool{
    background-image: url(../img/sprite/coll.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 38px;
    display: block;
  }
  &-ctgaming{
    background-image: url(../img/sprite/ctgaming.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 116px;
    height: 25px;
    display: block;
  }
  &-gamzix{
    background-image: url(../img/sprite/gamzix.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 125px;
    height: 31px;
    display: block;
  }
  &-kagaming{
    background-image: url(../img/sprite/kagaming.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 115px;
    height: 38px;
    display: block;
  }
  &-kalamba{
    background-image: url(../img/sprite/kalamba.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 111px;
    height: 24px;
    display: block;
  }
  &-revolver{
    background-image: url(../img/sprite/revolver.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 108px;
    height: 30px;
    display: block;
  }
  &-smartsoft{
    background-image: url(../img/sprite/smart.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 107px;
    height: 41px;
    display: block;
  }
  &-spinmatic{
    background-image: url(../img/sprite/spinmatic.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 116px;
    height: 24px;
    display: block;
  }
  &-wm{
    background-image: url(../img/sprite/wm.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 87px;
    height: 38px;
    display: block;
  }
  &-spribe{
    background-image: url(../img/sprite/spribe.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 71px;
    height: 29px;
    display: block;
  }
  &-onlyplay{
    background-image: url(../img/sprite/onlyplay.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 125px;
    height: 25px;
    display: block;
  }
  &-novo{
    background-image: url(../img/sprite/novomatic.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 111px;
    height: 16px;
    display: block;
  }

  &-eurasian{
    background-image: url(../img/sprite/eurasian.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 102px;
    height: 27px;
    display: block;
  }
  &-upgaming{
    background-image: url(../img/sprite/upgaming.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 116px;
    height: 31px;
    display: block;
  }
  &-twain{
    background-image: url(../img/sprite/twin.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 135px;
    height: 18px;
    display: block;
  }
  &-hacksaw{
    background-image: url(../img/sprite/hacksaw.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 93px;
    height: 25px;
    display: block;
  }
  &-years{
    background-image: url(../img/sprite/years.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    display: block;
  }
}