// --------------- hex to rgba mixin ---------------
@function HexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
:root {
// --------------- default global variable ---------------
  --body-bg: #000;
  --body-font-size: 16px;
  --content-width: 1390px;
  --container-offset: 16px;

  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  // --------------- default JS variable ---------------
  --header-height: 68px;

  @include tablet{
    --header-height: 112px;
  }

// --------------- default scroll variable ---------------
  --scrollbar-thumb: #0008;
  --scrollbar-track:  #202020;
  --scrollbar-track-hover: #202020;
  --overlay-bg: rgba(0, 0, 0, 0.5);

// --------------- default font-family variable ---------------
  --font-family: "Roboto" , sans-serif; // var(--font-family);

// --------------- default text color variable ---------------
  --cl-a: #{HexToRGB(#ffffff)}; // rgba(var(--cl-a),1.0);
  --cl-b: #{HexToRGB(#000000)}; // rgba(var(--cl-b),1.0);
  --cl-c: #{HexToRGB(#888)}; // rgba(var(--cl-c),1.0);
  --cl-d: #{HexToRGB(#EDC97F)}; // rgba(var(--cl-d),1.0);
  --cl-e: #{HexToRGB(#C5C5C5)}; // rgba(var(--cl-e),1.0);
  --cl-f: #{HexToRGB(#E0E0E0)}; // rgba(var(--cl-f),1.0);
  --cl-g: #{HexToRGB(#EDC97F)}; // rgba(var(--cl-g),1.0);
  --cl-h: #{HexToRGB(#6D6D6D)}; // rgba(var(--cl-h),1.0);



// --------------- default background color variable ---------------
  --bg-a: #{HexToRGB(#ffffff)}; // rgba(var(--bg-a),1.0);
  --bg-b: #{HexToRGB(#000000)}; // rgba(var(--bg-b),1.0);
  --bg-c: #{HexToRGB(#27AE60)}; // rgba(var(--bg-c),1.0);
  --bg-d: #{HexToRGB(#3fcd7b)}; // rgba(var(--bg-d),1.0);
  --bg-e: #{HexToRGB(#EDC97F)}; // rgba(var(--bg-e),1.0);
  --bg-f: #{HexToRGB(#f7e1b4)}; // rgba(var(--bg-f),1.0);
  --bg-g: #{HexToRGB(#5C5036)}; // rgba(var(--bg-g),1.0);
  --bg-h: #{HexToRGB(#1E1E1E)}; // rgba(var(--bg-h),1.0);
  --bg-i: #{HexToRGB(#F11414)}; // rgba(var(--bg-i),1.0);
  --bg-j: #{HexToRGB(#555)}; // rgba(var(--bg-j),1.0);
  --bg-k: #{HexToRGB(#1E1E1E)}; // rgba(var(--bg-k),1.0);
  --bg-l: #{HexToRGB(#303030)}; // rgba(var(--bg-l),1.0);
  --bg-m: #{HexToRGB(#212425)}; // rgba(var(--bg-m),1.0);
  --bg-n: #{HexToRGB(#6D6D6D)}; // rgba(var(--bg-n),1.0);
  --bg-o: #{HexToRGB(#303030)}; // rgba(var(--bg-o),1.0);
  --bg-p: #{HexToRGB(#3d3b3b)}; // rgba(var(--bg-p),1.0);
  --bg-q: #{HexToRGB(#ff0011)}; // rgba(var(--bg-q),1.0);
  --bg-r: #{HexToRGB(#e40a19be)}; // rgba(var(--bg-r),1.0);
// --------------- default border color color variable ---------------
  --br-a: #EDC97F; // var(--br-a);
  --br-b: #888; // var(--br-b);
  --br-c: #3d3b3b; // var(--br-c);
  --br-d: #C5C5C5; // var(--br-d);
  --br-e: #000; // var(--br-e);
  --br-f: #0B1C24; // var(--br-f);
  --br-g: #6D6D6D; // var(--br-g);
  --br-h: #A45800; // var(--br-h);
// -------------
}


